<b> 7. Langkah awal buatlah file etl-1.py, untuk mengakses data CSV nya. Ketikkan script
berikut ini:

import pandas as pd

# Baca file CSV
df_csv = pd.read_csv("pegawai_cab01.csv")
print(df_csv)

<b>8.

In [18]:
# Baca file CSV
df_csv = pd.read_csv("pegawai_cab01.csv")

# Filter hanya kolom yang dibutuhkan
df_csv_filter = df_csv[['nik', 'nama', 'job_id']]
print(df_csv_filter)

     nik             nama      job_id
0    206    William Gietz  AC_ACCOUNT
1    205  Shelley Higgins      AC_MGR
2    200  Jennifer Whalen     AD_ASST
3    100      Steven King     AD_PRES
4    101    Neena Kochhar       AD_VP
..   ...              ...         ...
102  120    Matthew Weiss      ST_MAN
103  121       Adam Fripp      ST_MAN
104  122   Payam Kaufling      ST_MAN
105  123   Shanta Vollman      ST_MAN
106  124    Kevin Mourgos      ST_MAN

[107 rows x 3 columns]

<b>9.

In [19]:
import pandas as pd

# Baca file Excel
df_excel = pd.read_excel("pegawai_cab02.xlsx")
print(df_excel)

   nik  nama      job status
0  403  Rina   SA_REP    NaN
1  404  Toro  IT_SUPP    NaN
2  405  Siti   SA_REP    OUT
3  406  Rini   SA_REP    NaN

<b>10.

In [20]:
import pandas as pd

#baca file excel
df_excel = pd.read_excel("pegawai_cab02.xlsx")

#filter hanya baris yg statusnya bukan OUT
df_excel_filter = df_excel[df_excel['status'] != 'OUT']

#filter hanya kolom yg dibutuhkan
df_excel_filter = df_excel_filter[['nik','nama','job']]
print(df_excel_filter)

   nik  nama      job
0  403  Rina   SA_REP
1  404  Toro  IT_SUPP
3  406  Rini   SA_REP

<b> 11.

In [21]:
import pandas as pd

# Baca file Excel
df_excel = pd.read_excel("pegawai_cab02.xlsx")

# Filter hanya baris yg statusnya bukan OUT
df_excel_filter = df_excel[df_excel['status'] != 'OUT']

# Filter hanya kolom yg dibutuhkan
df_excel_filter = df_excel_filter[['nik', 'nama', 'job']]

# Rename kolom
df_excel_filter = df_excel_filter.rename(columns={'job': 'job_id'})

# Cetak hasil
print(df_excel_filter)

   nik  nama   job_id
0  403  Rina   SA_REP
1  404  Toro  IT_SUPP
3  406  Rini   SA_REP

<b>12.

In [22]:
import pandas as pd

# Baca file CSV
df_csv = pd.read_csv("pegawai_cab01.csv")

# Filter hanya kolom yang dibutuhkan
df_csv_filter = df_csv[['nik', 'nama', 'job_id']]

# Baca file Excel
df_excel = pd.read_excel("pegawai_cab02.xlsx")

# Filter hanya baris yang statusnya bukan OUT
df_excel_filter = df_excel[df_excel['status'] != 'OUT']

# Filter hanya kolom yang dibutuhkan
df_excel_filter = df_excel_filter[['nik', 'nama', 'job']]

# Rename kolom
df_excel_filter = df_excel_filter.rename(columns={'job': 'job_id'})

# Gabungkan kedua DataFrame dengan pd.concat
df_gabung = pd.concat([df_csv_filter, df_excel_filter], ignore_index=True)


# Cetak hasil
print(df_gabung)

     nik             nama      job_id
0    206    William Gietz  AC_ACCOUNT
1    205  Shelley Higgins      AC_MGR
2    200  Jennifer Whalen     AD_ASST
3    100      Steven King     AD_PRES
4    101    Neena Kochhar       AD_VP
..   ...              ...         ...
105  123   Shanta Vollman      ST_MAN
106  124    Kevin Mourgos      ST_MAN
107  403             Rina      SA_REP
108  404             Toro     IT_SUPP
109  406             Rini      SA_REP

[110 rows x 3 columns]

> ### Buat database dengan nama bigdata6 sebelum eksekusi program dibawah ini

<b>13.

In [26]:
import sqlalchemy as sql

# Buat string koneksi
# User dan password diisi sesuai user password di MySQL Anda
# Database adalah nama database yang sudah dibuat di MySQL
# conn_string = "mysql+pymysql://user:password@localhost/database"
# Misal user = "root", password="", database="bigdata6"

# Buat string koneksi
conn_string = "mysql+pymysql://root:@localhost/bigdata6"
sql_engine = sql.create_engine(conn_string)

# Gunakan connect() untuk menjalankan query
with sql_engine.connect() as connection:
    res = connection.execute(sql.text("SHOW DATABASES"))
    for r in res:
        print(r[0])

abc
akademik
apotek
bigdata6
db_angelbags
db_peminjaman
db_pengguna
db_perpus
exp007
information_schema
mysql
performance_schema
phpdasar
phpmyadmin
test
uas
uji

<b> 14.

In [28]:
import sqlalchemy as sql
import pandas as pd

# Buat string koneksi
# User dan password diisi sesuai user password di MySQL Anda
# Database adalah nama database yang sudah dibuat di MySQL
# conn_string = "mysql+pymysql://user:password@localhost/database"
# Misal user = "root", password="", database="bigdata6"

conn_string = "mysql+pymysql://root:@localhost/bigdata6"

sql_engine = sql.create_engine(conn_string)

# Extract dan transform
df_csv = pd.read_csv("pegawai_cab01.csv")
df_csv_filter = df_csv[['nik', 'nama', 'job_id']]

df_excel = pd.read_excel("pegawai_cab02.xlsx")
df_excel_filter = df_excel[df_excel['status'] != 'OUT']
df_excel_filter = df_excel_filter[['nik', 'nama', 'job']]
df_excel_filter = df_excel_filter.rename(columns={'job': 'job_id'})

df_gabung = pd.concat([df_csv_filter, df_excel_filter], ignore_index=True)

# Load
df_gabung.to_sql("pegawai", con=sql_engine, if_exists='replace', index=False)
print("Load ke MySQL selesai")

Load ke MySQL selesai

<b>15.

In [29]:
import sqlalchemy as sql
import pandas as pd

# Buat string koneksi
# User dan password diisi sesuai user password di MySQL Anda
# Database adalah nama database yang sudah dibuat di MySQL
# conn_string = "mysql+pymysql://user:password@localhost/database"
# Misal user = "root", password="", database="bigdata6"

conn_string = "mysql+pymysql://root:@localhost/bigdata6"

sql_engine = sql.create_engine(conn_string)

# Extract: Baca isi pegawai_cab01.csv
df_csv = pd.read_csv("pegawai_cab01.csv")

# Transform: Ambil kolom job_id dan job_title
# Hilangkan data kembar untuk kedua field tersebut
df_job = df_csv[['job_id', 'job_title']].drop_duplicates()

# Load: Simpan data ke MySQL
df_job.to_sql("job", con=sql_engine, if_exists='replace', index=False)

print("Load data ke MySQL selesai")

Load data ke MySQL selesai