# **``Test cleaning data ``**

1. Import modul, muat data dan tampilkan lima data pertama

In [1]:
import pandas as pd
import numpy as np

data_olah = "insurance1.csv"
dataset = pd.read_csv(data_olah)
dataset.head()

   age     sex     bmi  children smoker     region        charges
0   19  female  27.900       0.0    yes  southwest     16.884.924
1   18    male  33.770       NaN     no  southeast     17.255.523
2   28    male  33.000       3.0     no  northwest      4.449.462
3   33  female  22.705       0.0     no  northwest  2.198.447.061
4   32    male  28.880       0.0     no  northwest     38.668.552

``TERDAPAT NILAI NaN dan TYPE YANG TIDAK SESUAI``

2. Identifikasi missing values

In [2]:
print("Jumlah missing values disetiap kolom: ")
print(dataset.isnull().sum())

Jumlah missing values disetiap kolom:
age         0
sex         1
bmi         1
children    1
smoker      0
region      2
charges     0
dtype: int64

3. Hitung persentase missing values disetiap kolom

In [3]:
persentase_missing = dataset.isnull().sum() / len(dataset) * 100

print("Persentase missing values disetiap kolom :")
print(persentase_missing)

Persentase missing values disetiap kolom :
age         0.000000
sex         0.074738
bmi         0.074738
children    0.074738
smoker      0.000000
region      0.149477
charges     0.000000
dtype: float64

<hr>

> ``Karena jumlah missing values disetiap kolom sedikit, jadi``  
**``kita lakukan drop untuk menghapus baris yang mengandung missing values``** 
    
</b><hr>

4. Penanganan ``missing values``

In [4]:
# Menghapus baris yang mengandung missing values
dataset1 = dataset.dropna()

``Pengecekan ulang``

In [5]:
print("Jumlah missing values disetiap kolom: ")
print(dataset1.isnull().sum())

Jumlah missing values disetiap kolom:
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

5. Melihat informasi ``dataset1``

In [6]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1333 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1333 non-null   int64
 1   sex       1333 non-null   object
 2   bmi       1333 non-null   float64
 3   children  1333 non-null   float64
 4   smoker    1333 non-null   object
 5   region    1333 non-null   object
 6   charges   1333 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 83.3+ KB

``Tipe data pada kolom charges``**``belum sesuai``**

In [7]:
dataset1.head(2)

   age     sex   bmi  children smoker     region     charges
0   19  female  27.9       0.0    yes  southwest  16.884.924
2   28    male  33.0       3.0     no  northwest   4.449.462

``Perhatikan isi data pada kolom charges diatas ☝️``  
- ``Tipe data tidak sesuai``
- ``Mengandung titik (.) lebih dari satu``

6. Penanganan ``tipe data`` dan ``karakter khusus``

    a) Membuat fungsi

In [8]:
def format_charges(val):
    if pd.isnull(val):
        return val
    val = str(val).replace('.', '')  # hapus semua titik (anggap pemisah ribuan)
    if len(val) > 2:
        return float(val[:-5] + '.' + val[-5:])  # sisipkan titik sebelum 5 digit terakhir
    return float(val)

    b) Menggunakan fungsi

In [9]:
dataset2 = dataset1.copy()
dataset2['charges'] = dataset2['charges'].apply(format_charges)

    c) Menampilkan data

In [10]:
dataset2.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900       0.0    yes  southwest    168.84924
2   28    male  33.000       3.0     no  northwest     44.49462
3   33  female  22.705       0.0     no  northwest  21984.47061
4   32    male  28.880       0.0     no  northwest    386.68552
7   37  female  27.740       3.0     no  northwest    728.15056

7. Menampilkan informasi (Mengecek tipe data)

In [11]:
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1333 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1333 non-null   int64
 1   sex       1333 non-null   object
 2   bmi       1333 non-null   float64
 3   children  1333 non-null   float64
 4   smoker    1333 non-null   object
 5   region    1333 non-null   object
 6   charges   1333 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 83.3+ KB

8. Simpan dataset

In [12]:
dataset2.to_csv("insurance.csv", index = False)

> Pastikan dataset *``insurance.csv``* berhasil tersimpan di direktori saat ini!  

👇

In [22]:
ls /b

.ipynb_checkpoints
insurance.csv
insurance1.csv
Test_Modul7.ipynb

## ``Melanjutkan Praktik``

> **Lanjut di kernel baru**  
*``ini hanya melakukan sedikit cleaning data``*

In [24]:
# import pandas as pd
# import numpy as np

In [23]:
# dataset = pd.read_csv("insurance.csv")
# dataset.head(20)

>  # 👨‍💻

...