# Praktik

1. Install modul ``Sastrawi``, ``nltk``, ``stopwords`` dan ``string``.

   <img src="" alt="image1">

2. Untuk memastikan installasi berhasil,

   <img src="" alt="image2">

3. Tahap preprocessing untuk data kosong:
   - Ambil data yang yang ada di modul 3  (insurance.csv dan data3 csv)
   - Tampilkan 20 data insurance.csv dan semua data3.csv

In [1]:
# Preprocessing untuk missing value

import pandas as pd
import numpy as np

data_olah = "insurance1.csv"
dataset = pd.read_csv(data_olah)
dataset.head(20)

    age     sex     bmi  children smoker     region      charges
0    19  female  27.900       0.0    yes  southwest    168.84924
1    18    male  33.770       NaN     no  southeast    172.55523
2    28    male  33.000       3.0     no  northwest     44.49462
3    33  female  22.705       0.0     no  northwest  21984.47061
4    32    male  28.880       0.0     no  northwest    386.68552
5    31  female     NaN       0.0     no  southeast    375.66216
6    46  female  33.440       1.0     no        NaN    824.05896
7    37  female  27.740       3.0     no  northwest    728.15056
8    37    male  29.830       2.0     no        NaN    640.64107
9    60  female  25.840       0.0     no  northwest  28923.13692
10   25    male  26.220       0.0     no  northeast    272.13208
11   62     NaN  26.290       0.0    yes  southeast   2780.87251
12   23    male  34.400       0.0     no  southwest     18.26843
13   56  female  39.820       0.0     no  southeast   1109.07178
14   27    male  42.130       0.0    yes  southeast   3961.17577
15   19    male  24.600       1.0     no  southwest     18.37237
16   52  female  30.780       1.0     no  northeast   1079.73362
17   23    male  23.845       0.0     no  northeast   2395.17155
18   56    male  40.300       0.0     no  southwest    106.02385
19   30    male  35.300       0.0    yes  southwest    368.37467

<fieldset style="width: 600px; border: none; text-align: justify;">
    
4. Data pada insurance diatas terdapat missing value (data kosong) yang ditandai dengan “NaN” pada beberapa kolom/atribut/field. Data ini akan menjadi masalah besar dalam pengolahan data apabila jumlah missing data banyak sekali. Sebelum dilakukan pengolahan data sebaiknya dilakukan pengecekan data missing value pada dataset yang kita miliki dengan coding dan output sebagai berikut :

</fieldset>

In [2]:
dataset.isnull().sum()

age         0
sex         1
bmi         1
children    1
smoker      0
region      2
charges     0
dtype: int64

<hr>

Memanggil dataset dengan nama  ``data3.csv``

In [3]:
datamiss = "data3.csv"
data = pd.read_csv(datamiss)
data

    Nilai UTS  Nilai UAS
0        80.0       87.0
1        78.0       81.0
2        72.0       70.0
3        68.0       65.0
4        78.0       90.0
5         NaN       78.0
6        90.0       87.0
7        76.0       78.0
8        73.0       81.0
9        66.0       88.0
10       89.0        NaN
11       75.0       86.0

<hr/>
Untuk cek missing value

In [4]:
# checking missing values
data.isnull().sum()

Nilai UTS    1
Nilai UAS    1
dtype: int64